<div [formGroup]="userDetailsForm">
    <table class="w-100 border mat-h5 m-1">
        <tr  class="bg-white border border-secondary">
            <td>
                <mat-label>
                    <strong>Name</strong>
                    <input type="text" class="form-control h4" formControlName="name" required>
                    <mat-error *ngIf="userDetailsForm.get('name').getError('required') && userDetailsForm.get('name').touched" >
                        Name can't be empty
                    </mat-error>
                </mat-label>
            </td>
        </tr>
        <tr class="bg-white border border-secondary">
            <td>
                <mat-label>
                    <strong>Email</strong>
                    <input type="text" class="form-control h4" formControlName="email" appEmailExists required>
                    <mat-error *ngIf="userDetailsForm.get('email').getError('required') && userDetailsForm.get('email').touched">
                        Email can't be empty
                    </mat-error>
                    <mat-error *ngIf="userDetailsForm.get('email').getError('email') && userDetailsForm.get('email').touched">
                        Not a valid email address
                    </mat-error>
                    <mat-error *ngIf="checkIfEmailExists() && userDetailsForm.get('email').hasError('emailExists')">
                        This email already exists
                    </mat-error>
                </mat-label>
            </td>
        </tr>
        <tr class="bg-white border border-secondary">
            <td>
                <mat-label>
                    <strong>Role</strong>
                    <select class="form-select" formControlName="role_id">
                        <option value=2>Game author</option>
                        <option value=1>Admin</option>
                        <option value=3>Plugin developer</option>
                    </select>
                </mat-label>
            </td>
        </tr>
    </table>
    <div class="row">
        <div class="col-6">
            <button class="btn btn-dark rounded text-lowercase" [disabled]="this.userDetailsForm.invalid " (click) = "onSubmit()" >
                Save
            </button>
        </div>
        <div class="col-6 text-right">
            <button class="btn btn-outline-secondary rounded text-lowercase" (click)="onCancel()">
                Cancel
            </button>
        </div>
    </div>
</div>







