<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6 ">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">New Game</h4>
                        <p class="card-category">Enter title and description for your new game.</p>
                    </div>
                    <div class="card-body">
                        <div class="col-sm-12">
                            <form [formGroup]="createGameForm">
                                <mat-form-field class="example-full-width" style="height:80px">
                                    <input class="mb-2" matInput type="text" placeholder="Title" #title formControlName="title" />
                                    <mat-error >Title is required</mat-error> <!-- validation -->
                                </mat-form-field>
                                <mat-form-field class="example-full-width" style="height:80px">
                                    <textarea class="mb-2" matInput type="text" placeholder="Description" #description formControlName="description" ></textarea>
                                    <mat-error>Description is required</mat-error> <!-- validation -->
                                </mat-form-field>

                                <button type="submit" class="btn btn-info m-4" (click) = "onSubmit()" [disabled]="!createGameForm.valid">Save</button>
                                <button type="reset" class="btn btn-secondary m-2" (click) = onCancel()>Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

