<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{game?.title}}</h4>
                        <p class="card-category">Project info</p>
                    </div>
                    <div class="card-body">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-4" matTooltip="Select an image for logo">
                                    <input type="file" style="display: none" (change)="onFileChange($event)" #fileSelect>
                                    <button (click) = "fileSelect.click()">
                                        <img src="{{logo}}"  alt="logo pic" width="200px" height="200px">
                                    </button>
                                    Logo
                                </div>
                                <div class="col-8 text-center">
                                    <h1>{{game?.title}}</h1>
                                </div>
                            </div>
                            <p class="h3 text-center">Project Details</p>
                            <hr>
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-12">
                                            <table class="w-100 mt-4 h4">
                                                <tr>
                                                    <td>
                                                        <mat-form-field class="example-full-width" style="height:80px">
                                                            <input class="mb-2" matInput type="text" placeholder="Title" value="{{game?.title}}"/>
                                                        </mat-form-field>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <mat-form-field class="example-full-width" style="height:80px">
                                                            <input class="mb-2" matInput type="text" placeholder="Description" value="{{game?.description}}"/>
                                                        </mat-form-field>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>
                                                            Created at
                                                        </label>
                                                        <div class="mb-2 form-control" >
                                                            {{convertToReadableDate(game?.created_at)}}
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label>
                                                            Last Update at
                                                        </label>
                                                        <div class="mb-2 form-control" >
                                                            {{convertToReadableDate(game?.updated_at)}}
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="container">
                                        <img src="assets/img/phone.jpg" alt="phone-image" width="180px" height="350px">
                                        <div class="centered" style="position: absolute; top: 50px; left: 70px">
                                            <img src="{{logo}}"  alt="logo pic" width="100px" height="100px">
                                        </div>
                                        <div style="position: absolute; top: 200px; left: 50%; transform: translate(-50%)">
                                            <h4 class="text-info" style="font-weight: bold;">
                                                {{game?.title}}
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
