<div class="container-fluid">
    <div class="row border">
        <div class="col-12">
            <mat-tab-group>
                <mat-tab label="{{designer?.file | titlecase}}">
                    <app-designer [designerFile]="designerService.getDefaultConfigDesigner()" [dataFile]="dataService.getDataJsonFile()"></app-designer>
                </mat-tab>
                <mat-tab label="{{'questions' | titlecase}}">
                    <app-designer [designerFile]="designerService.getDefaultConfigDesigner()" [dataFile]="dataService.getDataJsonFile()"></app-designer>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>

