
<div *ngIf="error?.message !== null">
    {{ error?.message }}
</div>

<div class="container-fluid"  *ngIf="error?.message === null">
    <div class="row border">
        <div class="col-12">
            <mat-tab-group>
                <mat-tab label="{{designer?.file | titlecase}}">
                    <app-designer *ngIf="designer?.designer_type === 'config'"
                                  [designerFile]="designerService.getConfigDesigner()"
                                  [dataFile]="dataService.getDataDefaultJsonFile()">
                    </app-designer>
                    <app-data-designer *ngIf="designer?.designer_type === 'data'"
                                  [dataDesigner]="designerService.getDataDesigner()"
                                  [dataFile]="dataService.getDataJsonFile()">
                    </app-data-designer>
                </mat-tab>
                <mat-tab label="{{defaultDesigner?.file | titlecase}}">
                    <app-designer *ngIf="defaultDesigner?.designer_type === 'config'"
                                  [designerFile]="designerService.getConfigDesigner()"
                                  [dataFile]="dataService.getDataDefaultJsonFile()">
                    </app-designer>
                    <app-data-designer *ngIf="defaultDesigner?.designer_type === 'data'"
                                       [dataDesigner]="designerService.getDataDesigner()"
                                       [dataFile]="dataService.getDataJsonFile()">
                    </app-data-designer>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>

