<table class="w-100 border mat-h5">
    <tr class="bg-dark text-light">
        <td>Name</td><td>Email</td><td>Games</td><td>Plugins</td><td>Status</td>
    </tr>
    <tr class="mb-1" *ngFor="let userDetails of usersData">
        <td>{{userDetails.user.name}}</td>
        <td>{{userDetails.user.email}}</td>
        <td></td>
        <td></td>
        <td *ngIf="userDetails.status === 'offline'" class="text-danger" style="font-weight: bold">{{userDetails.status}}</td>
        <td *ngIf="userDetails.status === 'online'" class="text-success" style="font-weight: bold">{{userDetails.status}}</td>
    </tr>
</table>
