

<div  [formGroup]="alertDialogForm" class="row w-100 justify-content-center">
    <div class="row " formArrayName="alertsArray">
        <div class="col-1 text-left">
            <button class="btn btn-info" (click)="addNewDialogBox()">
                add
            </button>
        </div>
        <div class="col-11">
            <div class="w-100 mt-5 text-center mat-h5" *ngIf="alertDialogArray?.length === 0">
                no alert dialogs
            </div>
            <div class="row justify-content-center" *ngIf="alertDialogArray?.length > 0">
                <div class="d-flex flex-row overflow-x-auto m-2">
                    <div class="col-3 border border-primary shadow bg-white rounded p-2 mr-2" *ngFor="let item of alertDialogArray; let x = index">
                        <div class="row justify-content-center" formGroupName="{{x}}">
                            <div class="col-9">
                                <mat-form-field>
                                    <input matInput [placeholder]="'Unique Id'" type="text" value="{{item?.unique_id}}" formControlName="unique_id">
                                </mat-form-field>
                            </div>
                            <div class="col-2 text-right">
                                <a role="button"  class="btn btn-just-icon rounded btn-danger text-center"  (click)="removeDialogBox(x)">
                                    <span class="material-icons">remove</span>
                                </a>
                            </div>
                            <div class="col-12">
                                <mat-form-field>
                                    <input matInput [placeholder]="'Title'" type="text"  [formControlName]="'title'">
                                </mat-form-field>
                            </div>
                            <div class ="col-5">
                                <mat-label>
                                    Cancellable
                                    <mat-checkbox  [formControlName] ="'cancellable'"></mat-checkbox>
                                </mat-label>
                            </div>
                            <div class="col-5 text-right">
                                <app-geomakeit-plugin-alert-dialog-set-buttons
                                        (setButtons)="returnedData($event, x)"
                                        [dialog]="item">
                                </app-geomakeit-plugin-alert-dialog-set-buttons>
                            </div>
                            <div class="col-12 mat-h5">
                                <mat-form-field>
                                    <input matInput [placeholder]="'Message'" type="text"  [formControlName]="'message'">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

