.sticky-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
}

.back-box {
  background:
          repeating-radial-gradient(
                circle at 0 0,#eee, #c1c1c1 10px
          );
}

