<div [formGroup]="form">
        <div ngSwitch="{{type}}">
            <div *ngSwitchCase="'text'">
                <input type="text"
                       value="{{value}}"
                       class="form-control rounded"
                       formControlName="{{nameOfFormControl}}"
                       (change)="onChange($event)"
                       ngbTooltip="{{tooltip}}"
                       placeholder="{{placeholder}}">
                <div *ngIf="form.get(nameOfFormControl).invalid">
                     <app-validation-messages
                         [formName]="form"
                         [controlName]="nameOfFormControl"
                         [validation]="validations">
                     </app-validation-messages>
                </div>
            </div>
            <div *ngSwitchCase="'image'">
                <input type="text"
                       value="{{value}}"
                       class="form-control pl-2 border border-dark rounded"
                       formControlName="{{nameOfFormControl}}"
                       (change)="onChange($event)"
                       ngbTooltip="{{tooltip}}"
                       placeholder="{{placeholder}}">
                <div *ngIf="form.get(nameOfFormControl).invalid">
                    <app-validation-messages
                            [formName]="form"
                            [controlName]="nameOfFormControl"
                            [validation]="validations">
                    </app-validation-messages>
                </div>
            </div>
            <div *ngSwitchCase="'textBox'">
                <textarea
                       value="{{value}}"
                       class="form-control rounded p-2 border border-dark"
                       formControlName="{{nameOfFormControl}}"
                       (change)="onChange($event)"
                       ngbTooltip="{{tooltip}}"
                       placeholder="{{placeholder}}">
                </textarea>
                <div *ngIf="form.get(nameOfFormControl).invalid">
                    <app-validation-messages
                            [formName]="form"
                            [controlName]="nameOfFormControl"
                            [validation]="validations">
                    </app-validation-messages>
                </div>
            </div>
            <div *ngSwitchCase="'float'">
                <div class="row">
                    <div class="col-3">
                        <div class="rounded border border-info" style="width: 100%; align-items: center">
                            <input type="number"
                                   value="{{value}}"
                                   min="0"
                                   step="0.1"
                                   formControlName="{{nameOfFormControl}}"
                                   (change)="onChange($event)"
                                   class="w-100 font-weight-bold text-center">
                            <!-- ngbTooltip="{{tooltip}}"
                             placeholder="{{placeholder}}">-->
                        </div>
                    </div>
                    <div class="col-9">
                        <div *ngIf="form.get(nameOfFormControl).invalid">
                            <app-validation-messages
                                    [formName]="form"
                                    [controlName]="nameOfFormControl"
                                    [validation]="validations">
                            </app-validation-messages>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="'double'">
                <div class="row">
                    <div class="col-3">
                        <div class="rounded border border-info" style="width: 100%; align-items: center">
                            <input type="number"
                                   value="{{value}}"
                                   step="0.01"
                                   min="0"
                                   formControlName="{{nameOfFormControl}}"
                                   (change)="onChange($event)"
                                   class="w-100 font-weight-bold text-center">
                            <!-- ngbTooltip="{{tooltip}}"
                             placeholder="{{placeholder}}">-->
                        </div>
                    </div>
                    <div class="col-9">
                        <div *ngIf="form.get(nameOfFormControl).invalid">
                            <app-validation-messages
                                    [formName]="form"
                                    [controlName]="nameOfFormControl"
                                    [validation]="validations">
                            </app-validation-messages>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="'integer'">
                <div class="row">
                    <div class="col-3">
                        <div class="rounded border border-info" style="width: 100%; align-items: center">
                            <input type="number"
                                   value="{{value}}"
                                   step="1"
                                   min="0"
                                   formControlName="{{nameOfFormControl}}"
                                   (change)="onChange($event)"
                                   class="w-100 font-weight-bold text-center">
                                  <!-- ngbTooltip="{{tooltip}}"
                                   placeholder="{{placeholder}}">-->
                        </div>
                    </div>
                    <div class="col-9">
                        <div *ngIf="form.get(nameOfFormControl).invalid">
                            <app-validation-messages
                                    [formName]="form"
                                    [controlName]="nameOfFormControl"
                                    [validation]="validations">
                            </app-validation-messages>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
