div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}


.scroll{
    overflow-x: auto;
    white-space: nowrap;
}

.wrapper{
    height: 380px;
    max-width: 100%;
    display: inline-flex;
    overflow-x: auto;
}

.wrapper .item{
    max-width: 315px;
    min-width: 315px;
    margin-left: 25px;
}

.wrapper-sm{
    height: 345px;
    max-width: 100%;
    display: inline-flex;
    overflow-x: auto;
    margin-bottom: 20px;
}

.wrapper-sm .item{
    max-width: 280px;
    min-width: 280px;
    margin-left: 25px;
}

