<div class="container-fluid pt-3 h-auto">
    <div class="row w-100 justify-content-center">
        <div class="col-lg-6 col-12 text-left">
            <h2 class="text-secondary mt-2" style="font-weight: bold; text-shadow: 2px 2px black;">
                My Projects
            </h2>
        </div>
       <!-- <angular-d3-cloud
                [data]="data"
                [width]="700"
                [height]="600"
                [padding]="10"
                font="times new roman"
                [rotate]="0"
                [autoFill]="true"
                (wordClick)="onWorkClick($event)"
        ></angular-d3-cloud>-->
        <div class="col-lg-6 col-12 text-center text-lg-right">
            <button type="button" class="h5 mt-3 text-lg-left" mat-raised-button color="primary" data-toggle="modal" data-target="#newProject">
               Create new Project
            </button>
            <button *ngIf="isPluginDeveloper()" type="button" class="h5 ml-2 mt-3 text-lg-right" mat-raised-button color="accent" data-toggle="modal" data-target="#newPlugin">
                Create new Plugin
            </button>
        </div>
        <div class="col-12 mt-2">
            <div class="text-center" *ngIf="displaySpinnerForProject">
                <app-spinner [visible]="displaySpinnerForProject"></app-spinner>
                <span class="mt-2" style="font-weight: bold">Loading....</span>
            </div>
            <div class="row w-100 align-items-center">
                <div class="col-12">
                    <button  mat-fab color="primary" class="h1 mr-3" style="font-weight: bold" matTooltip="create new project" matTooltipClass="h5" data-toggle="modal" data-target="#newProject">
                        +
                    </button>
                    <div class="wrapper">
                        <div class="text-left text-secondary h4 font-weight-bold" *ngIf="!displaySpinnerForProject &&  projectList?.length === 0">
                            no projects found
                        </div>
                        <div class="item" *ngFor="let projectFile of projectList; let i = index" id = "project{{i}}">
                            <app-project-card [project] = "projectFile"  (deleted)="onDeleteProject($event)"></app-project-card>
                        </div>
                        <div class="text-left text-secondary h3 font-weight-bold" *ngIf="!displaySpinnerForProject &&  errorFromProjectSubscribe !== null">
                            {{errorFromProjectSubscribe}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-left" *ngIf="isPluginDeveloper()">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-secondary" style="font-weight: bold;  text-shadow: 2px 2px black;">
                        My Plugins
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="text-center" *ngIf="displaySpinnerForPlugins">
                    <app-spinner [visible]="displaySpinnerForPlugins" ></app-spinner>
                    <span class="mt-2" style="font-weight: bold">Loading....</span>
                </div>
                <div class="row w-100 align-items-center">
                    <div class="col-12">
                        <button  mat-fab color="accent" class="h1 mr-3" style="font-weight: bold" matTooltip="create new plugin" matTooltipClass="h5" data-toggle="modal" data-target="#newPlugin">
                            +
                        </button>
                        <div class="wrapper-sm">
                            <div class="text-left text-secondary h4 font-weight-bold" *ngIf="!displaySpinnerForPlugins &&  pluginList?.length === 0">
                                no plugins found
                            </div>
                             <div class="item" *ngFor="let pluginFile of pluginList; let i = index" id="plugin{{i}}">
                                 <app-plugin-card [plugin]="pluginFile" (updated)="onUpdate($event)" (deleted)="onDeletePlugin($event)"></app-plugin-card>
                             </div>
                            <div class="text-left text-secondary h3 font-weight-bold" *ngIf="!displaySpinnerForPlugins && errorFromPluginSubscribe !== null">
                                {{errorFromPluginSubscribe}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- modal -->
<app-create-project (project)="onCreateProject($event)"></app-create-project>
<!-- modal -->
<app-create-plugin (isCreatedPlugin)="onCreatePlugin($event)"></app-create-plugin>



