<div *ngIf="!details.title">
    <div class="text-center text-danger"> - no plugIn - {{noPlugInContent()}}</div>
</div>
<div class = "card shadow border" *ngIf="details.title" style="height:330px">
    <div class="row">
        <div class="col-12">
            <div class="p-2">
                <div class="mat-h2 text-center">
                    {{details.title}}
                </div>
                <div class="mat-h5 text-gray text-center">
                    {{details.subTitle}}
                </div>
                <hr>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="p-2">
                <strong>Version</strong>
            </div>
        </div>
        <div class="col-6">
            <div class="p-2 text-right">
                {{details.version}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="p-2">
                <strong>Main</strong>
            </div>
        </div>
        <div class="col-6">
            <div class="p-2 text-right">
                {{details.main}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="p-2">
                <strong>Status</strong>
            </div>
        </div>
        <div class="col-6">
            <div class="p-2 text-right">
                {{details.status}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="p-2">
                <strong>Updated at</strong>
            </div>
        </div>
        <div class="col-6">
            <div class="p-2 text-right">
                {{details.updatedAt}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="p-2">
                <strong>Created at</strong>
            </div>
        </div>
        <div class="col-6">
            <div class="p-2 text-right">
                {{details.createdAt}}
            </div>
        </div>
    </div>
</div>

