<div class="container-fluid mt-5">
    <div class="row justify-content-center pt-5">
        <div class="col-3 text-center mt-5">
            <div class="row">
                <div class="col-12">
                    <div class="card shadow">
                        <div class="card-header bg-dark">
                            <div class="card-title text-center">
                                <img src="../../../../assets/img/geomakeit_logo.png" width="100%" >
                            </div>
                            <div class="card-subtitle text-light">
                                We want to send you a password-reset link
                            </div>
                        </div>
                        <div class="card-body h5">
                            <form [formGroup]="passwordForm">
                                <mat-form-field>
                                    <mat-label>Enter your email</mat-label>
                                    <input matInput type="email" formControlName="email">
                                    <mat-error *ngIf="passwordForm.get('email').hasError('required') && passwordForm.get('email').touched">
                                        email is required
                                    </mat-error>
                                    <mat-error *ngIf="passwordForm.get('email').hasError('email') && passwordForm.get('email').touched">
                                        this is not an acceptable email address
                                    </mat-error>
                                </mat-form-field>
                                <button class="btn btn-info w-100 mt-4 text-lowercase h5" (click)="onClick()" [disabled]="passwordForm.invalid" >
                                    Click to send
                                </button>
                                <app-spinner [visible]="sendEmailLoadSpinner"></app-spinner>
                            </form>
                        </div>
                        <div *ngIf="emailSend" class="font-weight-bold mb-2 mat-h5">
                            If this email address matches an account,
                            you will receive a password reset link.
                        </div>
                        <div>
                            <p class="text-primary h5" *ngIf="sendEmailLoadSpinner === false && result !== null">
                                {{result}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
