<div class="row bg-dark" style="alignment: left; display: flex; flex-direction: column; height: 91vh">
    <div class="col-12 text-center">
        <mat-list role="list" >
            <mat-list-item role="listitem" class="text-light">
                <div class="mat-list-item-content">
                    <a role="button" routerLink="home" class="text-light">
                        <mat-icon mat-list-icon class="mat-ripple" role="img">home</mat-icon>
                        Home
                    </a>
                </div>
            </mat-list-item>
            <mat-list-item role="listitem" class="text-light">
                <a role="button" routerLink="users" class="text-light">
                    <div class="mat-list-item-content">
                        <mat-icon mat-list-icon class="mat-ripple" role="img">manage_accounts</mat-icon>
                        User management
                    </div>
                </a>
            </mat-list-item>
            <mat-list-item role="listitem" class="text-light">
                <a role="button" routerLink="home" class="text-light">
                    <div class="mat-list-item-content">
                        <mat-icon mat-list-icon class="mat-ripple" role="img">app_settings_alt</mat-icon>
                        Project management
                    </div>
                </a>
            </mat-list-item>
            <mat-list-item role="listitem" class="text-light">
                <a role="button" routerLink="home" class="text-light">
                    <div class="mat-list-item-content">
                        <mat-icon mat-list-icon class="mat-ripple" role="img">extension</mat-icon>
                        Plugin management
                    </div>
                </a>
            </mat-list-item>
            <mat-list-item role="listitem" class="text-light">
                <a role="button" routerLink="home" class="text-light">
                    <div class="mat-list-item-content">
                        <mat-icon mat-list-icon class="mat-ripple" role="img">text_snippet</mat-icon>
                        Logs
                    </div>
                </a>
            </mat-list-item>
        </mat-list>
    </div>
   <!-- <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
        </div>
    </div>-->
</div>


