<table class="rounded border shadow">
    <tr *ngFor="let point of points; let i = index" id="point{{i}}">
        <td style="width: 99%">
            <button class="w-100" data-toggle="modal" (click) = "onSelect(point, i)" data-target="#pointSetup" style="border: 0; background-color: inherit">
                <table class="w-100">
                    <tr>
                        <td class="mat-h5 text-center" style="width: 1%">{{i + 1}}</td>
                        <td class="mat-h5 text-center" style="width: 99%">{{point?.title}}</td>
                    </tr>
                </table>
            </button>
        <td>
        <td style="width: 1%">
            <button class="text-danger" matTooltip="Delete this point" style="background-color: inherit; border: 0" (click)="onDelete(i)">
                <mat-icon class="h5">
                    delete
                </mat-icon>
            </button>
        </td>
    </tr>
</table>


<!-- modal -->
<div class="modal fade" id="pointSetup" tabindex="-1" role="dialog" aria-labelledby="newAction" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content ">
            <div class="modal-header m-2 bg-secondary border border-dark">
                <h3 class="modal-title text-white" id="newAction" style="font-weight: bold">Setup point of action</h3>
            </div>
            <div class="modal-body m-2 border  border-dark">
                <app-point-setup [selectedPoint]="pointToEdit" (returnedPoint)="fromPointSetup($event)"></app-point-setup>
            </div>
        </div>
    </div>
</div>
