<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="text-center">
                <div class="row">
                    <div class="col-10 h2">
                        All Users
                    </div>
                    <div class="col-2">
                       <a routerLink="home" role="button" class="btn btn-info text-lowercase">add user</a>
                    </div>
                </div>
            </div>
            <div>
                <table class="w-100 border">
                    <tr class="bg-dark text-light text-center">
                        <td></td>
                        <td>Username</td>
                        <td>Role</td>
                        <td>isActive</td>
                        <td>Last activity</td>
                        <td></td>
                    </tr>
                    <tr class="text-center" *ngFor="let user of usersList; let i = index" id="user{{i+1}}">
                        <td class="pl-2">{{i + 1}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.role}}</td>
                        <td>{{user.isActive | numberToBoolean}}</td>
                        <td>{{user.last_activity | date: 'dd/MM/yy HH:mm': timeZone}}</td>
                        <td><a class="text-lowercase btn btn-secondary" (click)="onEdit(user)">edit</a></td>
                    </tr>
                </table>
                <app-spinner [visible]="loadingUsers"></app-spinner>
            </div>
        </div>
    </div>
</div>
