<div class="container-fluid">
    <div class="row pt-4 pt-lg-0 justify-content-center">
        <div class="col-xl-2 col-lg-4 col-12 shadow border border-dark" style="background-color: lightgrey">
            <app-game-setup [pointsArray]="pointsArray"></app-game-setup>
        </div>
        <div class="col-xl-10 col-lg-8 col-11 pl-0 pr-0">
            <app-map
                    [points] = "pointsArray"
                    (coordinates)="gameSetup.addPoint($event)"
                     (returnedPoint)="gameSetup.updateArrayOfPoints($event)">
            </app-map>
        </div>
    </div>
</div>

