<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-2 bg-light pr-0 border">
            <div class="row shadow mb-1">
                <div class="col-12 pl-0 text-dark mat-h1 pt-2" style="font-weight: bold; text-align: center">
                    {{project?.title}}
                </div>
            </div>
            <div class="row" matTooltip="Click to handle map-points with specific actions" matTooltipClass="h5">
                <div class="col-12 pl-0" style="font-weight: bold; text-align: center">
                    <button class="btn w-100 bg-dark"
                            data-toggle="collapse"
                            data-target="#points"
                            aria-expanded="false"
                            aria-controls="points">
                            <div class="row">
                                <div class="col-5 text-right pr-0">
                                    <span class="mat-h5">
                                        <mat-icon class="material-icons-outlined">
                                            place
                                        </mat-icon>
                                    </span>
                                </div>
                                <div class="col-7 text-left">
                                    <span class="mat-h5">
                                        Points of action
                                    </span>
                                </div>
                            </div>
                    </button>
                    <div id="points" class="collapse m-1 shadow border bg-white">
                        <table class="w-100 ml-1">
                            <tr>
                                <td style="width: 95%">
                                    <table class="w-100 text-left" style="font-weight: bold">
                                        <tr>
                                            <td style="width: 30%" class="pl-2">Point</td>
                                            <td style="width: 70%" class="pl-3">Title</td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="width: 5%">
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 95%">
                                    <app-point-setup [points] = "pointsArray" (pointForDelete)="onDelete($event)" (returnedPoint) = "updateArrayOfPoints($event)"></app-point-setup>
                                </td>
                                <td style="width: 5%">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" matTooltip="Click to handle settings of this project" matTooltipClass="h5">
                <div class="col-12 pl-0" style="font-weight: bold; text-align: center">
                    <app-game-settings [project] = "project"></app-game-settings>
                </div>
            </div>
            <div class="row" matTooltip="Click to display information for this project" matTooltipClass="h5">
                <div class="col-12 pl-0" style="font-weight: bold; text-align: center">
                    <app-game-info></app-game-info>
                </div>
            </div>
            <div class="row w-100 mb-2" style="position: absolute; bottom: 5px">
                <div class="col-12 text-center" >
                    <button class="mat-raised-button mat-primary" style="width: 100%">
                       <mat-icon class="material-icons-outlined">
                            app_settings_alt
                       </mat-icon>
                        Build
                    </button>
                </div>
            </div>
            <div class="row w-100 mt-5" style="position: sticky">
                <button class="ml-2 mat-raised-button">
                    <div class="col-12 text-center">
                        <img src="assets/img/wizard-image.png" width="60" alt="Image for action">
                    </div>
                    <div class="col-12 h5 text-info font-weight-bold text-center">
                        Step by Step
                    </div>
                </button>
            </div>
        </div>
        <div class="col-10 pl-0 pr-0">
            <app-map [points] = "pointsArray" (coordinates)="addPoint($event)"></app-map>
        </div>
    </div>
</div>


