            <div class="row shadow bg-white mb-1 ">
                <div class="col-12 text-dark mat-h2  pt-2" style="font-weight: bold; text-align: center; text-shadow: 2px 2px  grey">
                    {{project?.title}}
                </div>
            </div>
            <div class="row" matTooltip="Click to handle location-points with specific actions" matTooltipClass="h5">
                <div class="col-12 pr-3 mb-2" style="font-weight: bold; text-align: center">
                    <button class="mat-raised-button bg-dark w-100 text-white"
                            data-toggle="collapse"
                            data-target="#points"
                            aria-expanded="false"
                            aria-controls="points">
                            <div class="row m-2">
                                <div class="col-3 text-right">
                                    <span class="mat-h5">
                                        <mat-icon class="material-icons-outlined">
                                            place
                                        </mat-icon>
                                    </span>
                                </div>
                                <div class="col-9 text-left mat-h5 text-lowercase">
                                        Points of action
                                </div>
                            </div>
                    </button>
                    <div id="points" class="collapse w-100 m-1 shadow-lg rounded border bg-light border-dark" style="align-items: center">
                        <table class="w-100">
                            <tr>
                                <td>
                                    <table class="w-100 text-left rounded bg-secondary text-white" style="font-weight: bold">
                                        <tr>
                                            <td style="width: 35%" class="pl-2 h5  text-left">Point</td>
                                            <td style="width: 65%" class="pl-3 h5  text-left">Title</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <app-point-setup    [points]="pointsArray"
                                                        (pointForDelete)="onDelete($event)"
                                                        (returnedPoint) = "updateArrayOfPoints($event)">
                                    </app-point-setup>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Basic settings modal -->
            <div class="row" matTooltip="Click to handle settings of this project" matTooltipClass="h5">
                <div class="col-12 pr-3 mb-2" style="font-weight: bold; text-align: center">
                    <app-game-settings-modal [project]="project"></app-game-settings-modal>
                </div>
            </div>
            <!-- Main Configuration modal-->
            <div class="row" matTooltip="Click to handle settings of this project" matTooltipClass="h5">
                <div class="col-12 pr-3 mb-2" style="font-weight: bold; text-align: center">
                    <app-game-main-configuration-modal></app-game-main-configuration-modal>
                </div>
            </div>
            <!-- Game info modal-->
            <div class="row" matTooltip="Click to display information for this project" matTooltipClass="h5">
                <div class="col-12 pr-3 mb-2" style="font-weight: bold; text-align: center">
                    <app-game-info></app-game-info>
                </div>
            </div>
            <!-- Stepper wizard screen-->
            <div class="row">
                <div class="col-12 pr-3" style="font-weight: bold; text-align: center">
                    <button class="btn btn-white shadow rounded-lg w-100"  (click)="onClickOpenStepper()">
                        <div class="col-12 text-center">
                            <img src="assets/img/wizard-image.png" width="60" alt="Image for step by step wizard">
                        </div>
                        <div class="col-12 h5 text-info font-weight-bold text-center" style="text-shadow: 2px 2px grey">
                            Step by Step
                            <p class="text-secondary h6 text-lowercase" style="text-shadow: 0 0">Create a project with our help</p>
                        </div>
                    </button>
                </div>
            </div>




