
    <div class="container-fluid">
        <div class="row justify-content-center text-center">
            <div class="col-lg-6 col-12 mt-lg-5 p-4 mt-4 bg-dark rounded-lg border shadow border-danger">
                <form [formGroup]="loginForm">
                    <div class="row">
                        <div class="col-md-6 col-12 mt-3">
                            <div class="row mb-2">
                                <div class="col-12">
                                    <img src="assets/img/geomakeit_logo.png" width="100%">
                                </div>
                            </div>
                            <div class="row pt-2 text-white" style="font-size: small">
                                <!--<div class="col-12">
                                    If you are new here,
                                    <a routerLinkActive="active" routerLink="/registration" style="text-decoration: underline; color: white">
                                        Register now
                                    </a>
                                </div>-->

                                <div class="col-12 text-center text-warning mat-h4">
                                    Test user
                                </div>
                                <div class="col-12 text-center mat-h5">
                                   [ email = test@user.com ]
                                </div>
                                <div class="col-12 text-center mat-h5">
                                    [ password = 11111111 ]
                                </div>
                            </div>
                            <!-- SignIn with Social networks -->
                            <!--<div class="row mt-1 justify-content-center">
                                <div class="col-8 mat-h5 border border-white rounded">
                                    <a role="button" class="text-light h3" (click)="onGitHubClick($event)" >
                                        <div class="row">
                                            <div class="col-2 text-center border">
                                                <span class="fa fa-github"></span>
                                            </div>
                                            <div class="col-10 text-center border">
                                                <span class="h5 text-lowercase" style="font-weight: bold">Sign in with Github</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>-->
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="row form-group">
                                <div class="col-12">
                                    <h3 class="text-white serif-font">
                                        Login
                                    </h3>
                                </div>
                                <div class="col-12">
                                    <input class="form-control pl-1 h5 text-white rounded" type="text" placeholder="Email" formControlName="email">
                                    <mat-error *ngIf="loginForm.get('email').touched && loginForm.get('email').getError('required')">
                                        Email is required
                                    </mat-error>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-12">
                                    <input class="form-control pl-1 h5 text-white rounded" type="password" placeholder="Password" formControlName="password">
                                    <mat-error *ngIf="loginForm.get('password').touched && loginForm.get('password').getError('required')">
                                        Password is required
                                    </mat-error>
                                </div>
                            </div>
                            <div *ngIf="errorLogin" class="text-danger font-weight-bold">
                                Error email or password. Try again
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <button type="submit" class="btn rounded btn-info w-75" style="width: 40%" (click)="onSubmit()" [disabled]="loginForm.invalid">
                                        login
                                    </button>
                                </div>
                                <div class="col-6 mat-h5 m-2 border border-white">
                                    <a role="button" class="text-light" (click)="onGitHubClick($event)">
                                        <span class="fa fa-github"></span>
                                        <span class="text-lowercase"> SignIn with Github </span>
                                    </a>
                                </div>
                                <!--<div class="col-12 text-center">
                                    <a routerLinkActive="active" routerLink="/forgot_password" style="color: white; font-size: small; text-decoration: underline">
                                        Forgot password?
                                    </a>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row mt-0">
                <app-spinner [visible]="isSpinnerActive"></app-spinner>
                <div class="col-12 h5 font-weight-bold text-info" *ngIf="successMessages !== null && errorMessages === null">
                    {{successMessages}}
                </div>
                <div class="col-12 h5 font-weight-bold text-danger" *ngIf="successMessages === null && errorMessages !== null">
                    {{errorMessages}}
                </div>
                <div class="col-12 h3 text-warning" style="text-shadow: 2px 2px grey; font-weight: bolder">
                    Demo Version
                </div>
            </div>
        </div>
    </div>

