<nav class="navbar navbar-dark bg-dark fixed-top mr-0">
    <div class="row w-100">
        <div class="col-lg-7 col-xl-9 col-5">
            <img src="assets/img/geomakeit_logo.png" width="200" alt="GeoMakeIt">
        </div>
        <div class="col-lg-5 col-xl-3 col-12 text-white justify-content-center align-items-center" style="display: flex">
            <div class="row w-100">
                <div class="col-2">
                    <a role="button" style="background-color: inherit" (click)="onHomeClick()">Home</a>
                </div>
                <div class="col-4">
                    <div ngbDropdown class="text-center">
                        <a role="button" class="text-white" style="background-color: inherit" id="helpDropdown" ngbDropdownToggle>Help</a>
                        <div ngbDropdownMenu  class="bg-white dropdown-menu-sm-left" aria-labelledby="helpDropdown">
                            <button ngbDropdownItem style="width: 95%"  data-toggle="modal" data-target="#helpTag">
                               Help info
                            </button>
                            <button ngbDropdownItem style="width: 95%" routerLinkActive="active" routerLink="/guide">
                                Step by Step guide
                            </button>
                            <button ngbDropdownItem style="width: 95%">
                                About GeoMakeIt Studio
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div ngbDropdown class="dropdown-menu-sm-left">
                        <a role="button" class="text-white" style="background-color: inherit" id="userDropdown" ngbDropdownToggle>User</a>
                        <div ngbDropdownMenu class="bg-white" aria-labelledby="userDropdown">
                            <div class="text-center" *ngIf="authenticated !== null">
                                <p class="mt-2 h6 text-secondary font-weight-bold" style="text-shadow: 1px 1px black">{{authenticated.user?.name}}</p>
                                <hr>
                            </div>
                            <div class="text-center" *ngIf="authenticated === null">
                                <p class="mt-2 h6 text-secondary font-weight-bold" style="text-shadow: 1px 1px black">- no user -</p>
                                <hr>
                            </div>
                            <button ngbDropdownItem style="width: 95%" data-toggle="modal" data-target="#userProfile">
                               Profile
                            </button>
                            <button ngbDropdownItem style="width: 95%" data-toggle="modal" data-target="#changePassword">
                                Change Password
                            </button>
                            <button ngbDropdownItem style="width: 95%" (click) = "onLogout()">
                                Logout
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- Modals -->
<app-geomakeit-help></app-geomakeit-help>
<app-user-profile></app-user-profile>
<app-change-password></app-change-password>

