<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-danger" >
                        <p><span class="card-title h4">Configuration of Game</span></p>
                        <p class="card-category"></p>
                    </div>
                    <div *ngIf="gameExist(game)" class="card-content table-responsive table-full-width">
                        <mat-tab-group>
                            <mat-tab label="Game Information">
                                <div class="row" style="width: 98%">
                                    <div class="col-12 m-4">
                                        <h3>GeoMakeIt</h3>
                                    </div>
                                </div>
                                <div class="row" style="width: 98%">
                                    <div class="col-12 m-4">
                                        Plugin Information
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Plugins">
                                <div class="row" style="width: 98%">
                                    <div class="col-12">
                                        <div class="d-flex align-items-start m-4">
                                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                                <button class="nav-link  active " id="information" data-bs-toggle="pill" data-bs-target="#inform-pill" type="button" role="tab" aria-controls="inform-pill" aria-selected="true">Information</button>
                                                <button class="nav-link" id="configs" data-bs-toggle="pill" data-bs-target="#configs-pill" type="button" role="tab" aria-controls="configs-pill" aria-selected="false">Configs</button>
                                                <button class="nav-link" id="strings" data-bs-toggle="pill" data-bs-target="#strings-pill" type="button" role="tab" aria-controls="strings-pill" aria-selected="false">Strings</button>
                                            </div>
                                            <div class="tab-content ml-4" id="v-pills-tabContent">
                                                <div class="tab-pane fade show active" id="inform-pill" role="tabpanel" aria-labelledby="information">
                                                    <app-information [plugin] = "plugin"></app-information>
                                                </div>
                                                <div class="tab-pane fade" id="configs-pill" role="tabpanel" aria-labelledby="configs">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <app-configs></app-configs>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="tab-pane fade" id="strings-pill" role="tabpanel" aria-labelledby="strings">
                                                    <app-strings></app-strings>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                    <div *ngIf="!gameExist(game)" class="card-content table-responsive table-full-width text-center mt-4">
                        <span class="text-danger" style="font-weight: bold">- no game selected -</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

