<div [formGroup]="form">
    <div formGroupName="{{nameOfGroup}}">
        <div *ngIf="type?.includes('array')">
            <app-type-array-field
                    [tooltip]="tooltip"
                    [placeholder]="placeholder"
                    [validations]="validations"
                    [nameOfFormControl]="nameOfFormControl"
                    (returnedValueOfControl) = "getResults($event)"
                    [value]="value"
                    [type]="type">
            </app-type-array-field>
        </div>
        <div *ngIf="
                type === 'integer' || type === 'string'
                || type === 'double' || type === 'float'
                || type === 'textBox' || type === 'image'">
            <app-type-input-field
                    [tooltip]="tooltip"
                    [placeholder]="placeholder"
                    [validations]="validations"
                    [nameOfFormControl]="nameOfFormControl"
                    (returnedValueOfControl) = "getResults($event)"
                    [value]="value"
                    [type]="type">
            </app-type-input-field>
        </div>
        <div *ngIf="
                type === 'dropdown' || type === 'check'
                || type === 'radio' || type === 'boolean'">
            <app-type-select-and-check-field
                    [tooltip]="tooltip"
                    [placeholder]="placeholder"
                    [items]="items"
                    [validations]="validations"
                    [nameOfFormControl]="nameOfFormControl"
                    (returnedValueOfControl) = "getResults($event)"
                    [value]="value"
                    [type]="type">
            </app-type-select-and-check-field>
        </div>
    </div>
</div>

