<div class="container-fluid  mt-5">
    <div class="row justify-content-center">
        <div class="col-3 shadow shadow-lg rounded border border-dark">
            <div class="row">
                <div class="bg-dark rounded-top text-light h3 text-center font-weight-bold">
                    Change Password
                </div>
            </div>
            <div class="row">
                <div [formGroup]="changePasswordForm" class="p-1">
                    <div class="row">
                        <div class="col-12">
                            <span class="font-weight-bold">New password</span>
                            <input class="form-control bg-white" type="password" formControlName="password">
                            <mat-error class="font-weight-bold mat-h5" *ngIf="changePasswordForm.get('password').hasError('required') && changePasswordForm.get('password').touched">
                                Password is required
                            </mat-error>
                            <mat-error class="font-weight-bold mat-h5" *ngIf="changePasswordForm.get('password').hasError('pattern') && changePasswordForm.get('password').touched">
                                Minimum 8 characters, at least one letter and one number
                            </mat-error>
                        </div>
                        <div class="col-12">
                            <span class="font-weight-bold">Retype new password</span>
                            <input class="form-control bg-white" type="password" formControlName="confirm">
                            <mat-error class="font-weight-bold mat-h5" *ngIf="changePasswordForm.get('confirm').hasError('match') && changePasswordForm.get('password').touched">
                                Passwords do not match!
                            </mat-error>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-6 col-md-12">
                        <button type="button" class="btn btn-dark text-lowercase" [disabled]="changePasswordForm.invalid" (click)="onSubmit()">Save</button>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <button type="button" class="btn btn-outline-secondary text-lowercase" (click)="onCancel()">Cancel</button>
                    </div>
                </div>
                <mat-error class="font-weight-bold" *ngIf="errorMessage !== null">
                    {{errorMessage}}
                </mat-error>
            </div>
        </div>
    </div>
</div>
