<div class="container-fluid">
    <div class="row w-100" >
        <div class="col-6 text-left">
            <h2 class="text-info mt-4" style="font-weight: bold; text-shadow: 2px 2px dimgrey;">
                My Projects
            </h2>
        </div>
        <div class="col-6 text-right">
            <button type="button" class="h5 mt-4" mat-raised-button color="primary" data-toggle="modal" data-target="#newProject">
               Create new Project
            </button>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="text-center" *ngIf="displaySpinner">
                    <app-spinner [visible]="displaySpinner" ></app-spinner>
                    <span class="mt-2" style="font-weight: bold">Loading....</span>
                </div>
                <div class="col-2" *ngFor="let app of projectList" >
                    <app-project-card [project] = "app" (deleted)="onDelete($event)" [tooltip]="'Edit project'"></app-project-card>
                </div>
                <div class="col-2 ml-4" style="margin-top: 10%">
                    <button mat-fab color="primary" class="h1" style="font-weight: bold" matTooltip="create new project" matTooltipClass="h5" data-toggle="modal" data-target="#newProject">
                        +
                    </button>
                </div>
                <div *ngIf="!displaySpinner && projectList?.length === 0">
                    <div class="col-12 text-left">
                        You don't have projects
                    </div>
                </div>
                <div *ngIf="!displaySpinner && error?.message !== null">
                    <div class="col-12 text-left text-danger">
                        {{error?.message}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-left">
            <h2 class="text-info" style="font-weight: bold;  text-shadow: 2px 2px dimgrey;">
                All available projects
            </h2>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 text-left" >
            <button style="border: 0; background-color: inherit; text-decoration: underline" class="text-info">
               <span>search for a project
                    <mat-icon>
                        search
                    </mat-icon>
               </span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-left">
            no projects found
        </div>
    </div>
</div>

<app-create-project (project)="onCreate($event)"></app-create-project>
