<p>  <!-- button system for My-Games page -->
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle matTooltip="Read view of the game" value="">
            <i class="material-icons text-gray">
                visibility
            </i>
        </mat-button-toggle>
        <mat-button-toggle matTooltip="View plugins of the game" (click) = "sendDataToPluginsForGames()">   <!-- if button clicked, go to plugins-for-game component -->
            <i class="material-icons text-info">
                extension
            </i>
        </mat-button-toggle>
        <mat-button-toggle matTooltip="Build and download the game" value="">
            <i class="material-icons text-primary">
                build
            </i>
        </mat-button-toggle>
        <mat-button-toggle matTooltip="Edit the game" value="underline">
            <i class="material-icons text-success">
                sticky_note_2
            </i>
        </mat-button-toggle>
        <mat-button-toggle>
            <app-delete-pop-up [element] = "service.object" (delete) = "onDelete($event)"> <!-- Component for delete procedure, with pop-up warning window -->
            </app-delete-pop-up>
        </mat-button-toggle>
    </mat-button-toggle-group>
</p>
