<!-- Modal -->

<button class="mat-raised-button bg-dark w-100 text-white" data-toggle="modal" data-target="#game-main-config" >
    <div class="row m-2">
        <div class="col-3 text-right pr-0">
            <span class="mat-h5">
                <mat-icon class="material-icons-outlined">
                    build
                </mat-icon>
            </span>
        </div>
        <div class="col-9 text-left mat-h5 text-lowercase">
            Main Configuration
        </div>
    </div>
</button>

<div class="modal fade" id="game-main-config" tabindex="-1" role="dialog" aria-labelledby="gameMainConfig" aria-hidden="true" style="overflow-x: hidden">
    <div class="modal-dialog modal-auto-width" role="document">
        <div class="modal-content ">
            <div class="modal-header ml-2 mr-2 mt-2 bg-secondary border border-dark">
                <h3 class="modal-title text-white" id="settings" style="font-weight: bold">Main configurations of temporary_save</h3>
            </div>
            <div class="modal-body bg-light" style="width: 100%">
                   <app-json-files-configuration></app-json-files-configuration>
            </div>
        </div>
    </div>
</div>

