<!-- Modal -->
<div class="modal fade" id="game-main-config" tabindex="-1" role="dialog" aria-labelledby="game-main-config" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content ">
            <div class="modal-header m-2 bg-secondary border border-dark">
                <h3 class="modal-title text-white" id="settings" style="font-weight: bold">Main configurations of project</h3>
            </div>
            <div class="modal-body bg-light m-2 border border-dark" style="height: auto; overflow: auto">
                <app-designer></app-designer>
            </div>
            <div class="row mb-2">
                <div class="col-6 ">
                    <button type="submit" class="btn btn-info" data-dismiss="modal">
                        Save
                    </button>
                </div>
                <div class="col-6">
                    <button type="reset" class="btn btn-warning " data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

