
    <footer class="footer bg-dark text-white w-100" style="position: fixed; bottom: 0px">
        <div class="container-fluid">
            <div class="row" style="width: auto">
                <div class="col-6 text-left">
                    <span style="font-weight: bold">&copy; GeoMakeIt Studio {{nowYear | date: 'yyyy'}}! </span>   All rights reserved
                </div>
                <div class="col-6 text-right">
                    version  3.05
                </div>
            </div>
        </div>
    </footer>

