<form [formGroup]="form">
    <div [ngSwitch]="type">
        <!-- First case -->
        <div *ngSwitchCase="'arrayOfCommands'">
            <div class="w-100 text-right border rounded border-dark" formArrayName="{{nameOfFormControl}}" >
                <button class="btn mr-1 btn-info" (click)="addArrayItem()">Add</button>
                <div class="pb-2" *ngFor="let valueFromArray of formArrayData.controls; let x = index" >
                    <div class="row justify-content-center">
                        <div class="col-1 text-right">
                            <button mat-mini-fab style="width: 80%"  color="disabled" disabled>
                                {{x + 1}}
                            </button>
                        </div>
                        <div class="col-10">
                            <input
                                    (change)="onChange($event)"
                                    formControlName="{{x}}"
                                    class="form-control"
                                    type="text"
                                    #field
                                    value="{{valueFromArray}}">
                            <p class="text-danger" *ngIf="field?.value === ''">
                                can't be empty
                            </p>
                        </div>
                        <div class="col-1">
                            <a role="button" class="text-danger"  (click)="deleteArrayItem(x)">
                                <i class="material-icons">delete</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="form.get(nameOfFormControl).invalid">
                <app-validation-messages
                        [validation]="validations"
                        [controlName]="nameOfFormControl"
                        [formName]="form">
                </app-validation-messages>
            </div>
        </div>

        <!-- Second case -->
        <div *ngSwitchCase="'arrayOfStrings'">
            <div class="w-100 text-right border rounded border-dark" formArrayName="{{nameOfFormControl}}" >
                <button class="btn mr-1 btn-info" (click)="addArrayItem()">Add</button>
                <div class="pb-2" *ngFor="let valueFromArray of formArrayData.controls; let x = index" >
                    <div class="row w-auto justify-content-center">
                        <div class="col-1 text-right">
                            <button mat-mini-fab style="width: 80%"  color="disabled" disabled>
                                {{x + 1}}
                            </button>
                        </div>
                        <div class="col-10">
                            <input
                                    (change)="onChange($event)"
                                    formControlName="{{x}}"
                                    class="form-control"
                                    type="text"
                                    #field
                                    value="{{valueFromArray}}">
                            <p class="text-danger" *ngIf="field?.value === ''">
                                can't be empty
                            </p>
                        </div>
                        <div class="col-1">
                            <a role="button" class="text-danger"  (click)="deleteArrayItem(x)">
                                <i class="material-icons">delete</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="form.get(nameOfFormControl).invalid">
                <app-validation-messages
                        [validation]="validations"
                        [controlName]="nameOfFormControl"
                        [formName]="form">
                </app-validation-messages>
            </div>
        </div>

        <!-- Third case -->
        <div *ngSwitchCase="'arrayOfIntegers'">
            <div class="w-100 text-right border rounded border-dark" formArrayName="{{nameOfFormControl}}" >
                <button class="btn mr-1 btn-info" (click)="addArrayItem()">Add</button>
                <div class="pb-2" *ngFor="let valueFromArray of formArrayData.controls; let x = index" >
                    <div class="row justify-content-center">
                        <div class="col-1 text-right">
                            <button mat-mini-fab style="width: 80%"  color="disabled" disabled>
                                {{x + 1}}
                            </button>
                        </div>
                        <div class="col-10" >
                            <input
                                    (change)="onChange($event)"
                                    formControlName="{{x}}"
                                    class="form-control"
                                    type="number"
                                    step="1"
                                    #field
                                    value="{{valueFromArray}}">
                            <p class="text-danger" *ngIf="field?.value === ''">
                                can't be empty
                            </p>
                        </div>
                        <div class="col-1">
                            <a role="button" class="text-danger"  (click)="deleteArrayItem(x)">
                                <i class="material-icons">delete</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="form.get(nameOfFormControl).invalid">
                <app-validation-messages
                        [validation]="validations"
                        [controlName]="nameOfFormControl"
                        [formName]="form">
                </app-validation-messages>
            </div>
        </div>
        <!-- Fourth case -->
        <div *ngSwitchCase="'arrayOfFloats'">
            <div class="w-100 text-right border rounded border-dark" formArrayName="{{nameOfFormControl}}" >
                <button class="btn mr-1 btn-info" (click)="addArrayItem()">Add</button>
                <div class="pb-2" *ngFor="let valueFromArray of formArrayData.controls; let x = index" >
                    <div class="row justify-content-center">
                        <div class="col-1 text-right">
                            <button mat-mini-fab style="width: 80%"  color="disabled" disabled>
                                {{x + 1}}
                            </button>
                        </div>
                        <div class="col-10" >
                            <input
                                    (change)="onChange($event)"
                                    formControlName="{{x}}"
                                    class="form-control"
                                    type="number"
                                    step="0.1"
                                    #field
                                    value="{{valueFromArray}}">
                            <p class="text-danger" *ngIf="field?.value === ''">
                                can't be empty
                            </p>
                        </div>
                        <div class="col-1">
                            <a role="button" class="text-danger"  (click)="deleteArrayItem(x)">
                                <i class="material-icons">delete</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="form.get(nameOfFormControl).invalid">
                <app-validation-messages
                        [validation]="validations"
                        [controlName]="nameOfFormControl"
                        [formName]="form">
                </app-validation-messages>
            </div>
        </div>
        <!-- Sixth case -->
        <div *ngSwitchCase="'arrayOfDoubles'">
            <div class="w-100 text-right border rounded border-dark" formArrayName="{{nameOfFormControl}}" >
                <button class="btn mr-1 btn-info" (click)="addArrayItem()">Add</button>
                <div class="pb-2" *ngFor="let valueFromArray of formArrayData.controls; let x = index" >
                    <div class="row justify-content-center">
                        <div class="col-10" >
                            <div class="col-1 text-right">
                                <button mat-mini-fab style="width: 80%"  color="disabled" disabled>
                                    {{x + 1}}
                                </button>
                            </div>
                            <input
                                    (change)="onChange($event)"
                                    formControlName="{{x}}"
                                    class="form-control"
                                    type="number"
                                    step="0.01"
                                    #field
                                    value="{{valueFromArray}}">
                            <p class="text-danger" *ngIf="field?.value === ''">
                                can't be empty
                            </p>
                        </div>
                        <div class="col-1">
                            <a role="button" class="text-danger"  (click)="deleteArrayItem(x)">
                                <i class="material-icons">delete</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="form.get(nameOfFormControl).invalid">
                <app-validation-messages
                        [validation]="validations"
                        [controlName]="nameOfFormControl"
                        [formName]="form">
                </app-validation-messages>
            </div>
        </div>
    </div>
</form>
