<div *ngIf="errorMessage !== ''">
  {{errorMessage}}
</div>
<div *ngIf="errorMessage === '' && gamePluginsArray?.length > 0">
    <mat-tab-group (selectedTabChange)="clearContentOnTabChange()" >
        <mat-tab *ngFor="let gamePlugin of gamePluginsArray; let x = index" label="{{gamePlugin?.plugin_name}}" >
            <div class="row w-100 justify-content-center d-flex bg-light">
                <div class="col-3 nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <div *ngFor="let jsonFiles of gamePlugin?.contents">
                            <button class="btn bg-secondary border border-dark w-100 text-white m-2 p-2"
                                    *ngFor="let file of jsonFiles | keyvalue; let y = index"
                                    id="v-pills-{{file.key}}-tab"
                                    data-bs-toggle="pill"
                                    (click)="onButtonClick(file)"
                                    data-bs-target="#v-pills-{{file.key}}"
                                    role="tab">
                                {{file.key}}
                            </button>
                        </div>
                </div>
                <div class="col-9 tab-content" id="v-pills-tabContent" style="height: 550px; overflow-y: auto">
                    <div class="tab-pane fade show active"
                         id="v-pills-{{nameOfJsonFile}}"
                         role="tabpanel">
                        <app-json-files-visualization
                                [dataFile]="jsonFile"
                                (formResults)="getForm($event, gamePlugin?.plugin_id)">
                        </app-json-files-visualization>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
    <hr>
    <div class="row justify-content-center">
        <div class="col-4 text-right">
            <button type="reset"  class="btn btn-outline-secondary w-100 " data-dismiss="modal">
                Back
            </button>
        </div>
    </div>
</div>
<div class="row justify-content-center" *ngIf="gamePluginsArray?.length === 0">
    <div class="col-4">
        <span class="h3">
             No Actions selected
        </span>
        <button type="reset"  class="btn btn-outline-secondary w-100 " data-dismiss="modal">
            back
        </button>
    </div>
</div>


