<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-danger" >
                        <p><span class="card-title h4">Configuration of Game</span></p>
                        <p class="card-category"></p>
                    </div>
                    <div *ngIf="gameExist(game)" class="card-content table-responsive table-full-width">
                        <mat-tab-group >
                            <mat-tab label="Game Information">
                                <div class="row" style="width: 99%">
                                    <div class="col-12 m-4">
                                        <h3>GeoMakeIt</h3>
                                    </div>
                                </div>
                                <div class="row" style="width: 99%">
                                    <div class="col-12 m-4">
                                        Plugin Information
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Plugins">
                                <div class="row"  style="width: 98%">
                                    <div class="col-12 ml-2 mt-2 mb-2">
                                        <div class="row">
                                            <div class="col-2">
                                                <div class="list-group" id="plugins-list" role="tablist">
                                                    <a class="list-group-item list-group-item-action active" id="plugIn-information" data-bs-toggle="list" href="#info-content" role="tab">Information</a>
                                                    <a class="list-group-item list-group-item-action" id="plugIn-configs" data-bs-toggle="list" href="#config-content" role="tab" >Config</a>
                                                </div>
                                            </div>
                                            <div class="col-10">
                                                <div class="tab-content">
                                                    <div class="tab-pane fade show active" id="info-content" role="tabpanel">
                                                        <app-information></app-information>
                                                    </div>
                                                    <div class="tab-pane fade show" id="config-content" role="tabpanel">
                                                        <app-configs></app-configs>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                    <div class="text-center mt-2" *ngIf="showSpinner">
                        <app-spinner [visible]="showSpinner" ></app-spinner>
                        <span class="mt-4" style="font-weight: bold">Loading....</span>
                    </div>
                    <div *ngIf="!gameExist(game) && !showSpinner" class="card-content table-responsive table-full-width text-center mt-4">
                        <span class="text-danger" style="font-weight: bold">- no game selected -</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

