<nav class="navbar navbar-dark bg-dark mb-0">
    <div class="row w-100">
        <div class="col-1">
            <img src="assets/img/geomakeit_logo.png" width="200" alt="GeoMakeIt logo">
        </div>
        <div class="col-9 text-center h2">
            Admin
        </div>
        <div class="col-2 text-right">
            <button class="btn btn-outline-light border border-light text-lowercase" style="background: inherit" (click)="logout()">
                <div><mat-icon>logout</mat-icon>  Logout</div>
            </button>
        </div>
    </div>
</nav>



