<nav class="navbar navbar-dark bg-dark mb-0">
    <div class="row w-100">
        <div class="col-1">
            <img src="assets/img/geomakeit_logo.png" width="200">
        </div>
        <div class="col-10 text-center h2">
            Admin
        </div>
        <div class="col-1 text-right">
            <button class="btn btn-outline-light border border-light text-lowercase" style="background: inherit" (click)="logout()">
                <table>
                    <tr><td><mat-icon>logout</mat-icon></td><td>Log out</td></tr>
                </table>
            </button>
        </div>
    </div>
</nav>



