<div *ngIf="isArray(validation)">
    <div *ngFor="let value of validation">
       <div *ngFor="let validator of value | keyvalue">
            <div *ngIf="validator.key === 'Required' && validator.value === true">
                <div *ngIf="formName.get(groupName).get(controlName).value === '' ||
                        isEmpty(formName.get(groupName).get(controlName)) ||
                        formName.get(groupName).get(controlName).value === null">
                    <mat-error>
                            Value is Required
                    </mat-error>
                </div>
            </div>
            <div *ngIf="validator.key === 'Max'">
               <div *ngIf="formName.get(groupName).get(controlName).value > validator.value">
                   <mat-error>
                       Value can't be greater than {{validator.value}}
                   </mat-error>
               </div>
           </div>
           <div *ngIf="validator.key === 'Min'">
               <div *ngIf="formName.get(groupName).get(controlName).value < validator.value">
                   <mat-error>
                       Value can't be lower than {{validator.value}}
                   </mat-error>
               </div>
           </div>
           <div *ngIf="validator.key === 'Regular Expression'">
               <div *ngIf="formName.get(groupName).get(controlName).errors">
                   <mat-error>
                       Not a valid input
                   </mat-error>
               </div>
           </div>
           <div *ngIf="validator.key === 'Email'">
               <div *ngIf="formName.get(groupName).get(controlName).errors">
                   <mat-error>
                       Not a valid Email address
                   </mat-error>
               </div>
           </div>
       </div>
    </div>
</div>


