<form [formGroup]="formName">
    <div formGroupName="{{groupName}}">
        <div ngSwitch="{{type}}">
            <div *ngSwitchCase="'textBox'">
                <input type="text" class="form-control text-secondary" style="font-weight: bold" [formControlName]="controlName" placeholder="{{placeholder}}">
            </div>
            <div *ngSwitchCase="'integer'">
                <input type="number" class="form-control text-secondary" placeholder="{{placeholder}}"  style="font-weight: bold" step="1"  min="0" [formControlName]="controlName">
            </div>
            <div *ngSwitchCase="'double'">
                <input type="number" class="form-control text-secondary" placeholder="{{placeholder}}" style="font-weight: bold" step="0.1"  min="0" [formControlName]="controlName">
            </div>
            <div *ngSwitchCase="'float'">
                <input type="number" class="form-control text-secondary" placeholder="{{placeholder}}" style="font-weight: bold" step="0.1"  min="0" [formControlName]="controlName">
            </div>
            <div *ngSwitchCase="'arrayOfStrings'">
                <div class="row justify-content-center text-center" [formArrayName]="controlName">
                    <div class="col-12">
                        <p>
                            <button data-toggle="collapse" (click) = "changeButton()" class="btn btn-outline-info" data-target="#arrayOfStrings" aria-expanded="false" aria-controls="arrayOfStrings">
                                {{buttonText(buttonValue)}}
                            </button>
                        </p>
                        <div class="collapse" id="arrayOfStrings">
                            <table class="border border-info w-100">
                                <tr *ngFor="let ar of arrayValues; let i = index" >
                                    <td>
                                        <input type = "text"  class="form-control text-secondary m-2" style="font-weight: bold" [formControlName]="i">
                                    </td>
                                    <td style="width: 13%">
                                        <button class="btn mat-icon-button btn-danger" (click) = "deleteArrayItem(groupName, controlName, i)">x</button>
                                    </td>
                                </tr>
                            </table>
                            <div class="text-left">
                                <button class="btn btn-info" (click) = "addArrayItem(groupName, controlName)">
                                    add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="'arrayOfCommands'">
                <div class="row justify-content-center text-center" [formArrayName]="controlName">
                    <div class="col-12">
                        <p>
                            <button data-toggle="collapse" (click) = "changeButton()" class="btn btn-outline-info" [attr.data-target]="'#tab' + controlName + groupName" aria-expanded="false" [attr.aria-controls]="'tab' + controlName + groupName">
                                {{buttonText(buttonValue)}}
                            </button>
                        </p>
                        <div class="collapse" id="tab{{controlName}}{{groupName}}">
                            <table class="border border-info w-100">
                                <tr *ngFor="let ar of arrayValues; let i = index" >
                                    <td>
                                        <input type = "text"  class="form-control text-secondary m-2" style="font-weight: bold" [formControlName]="i">
                                    </td>
                                    <td style="width: 13%">
                                        <button class="btn mat-icon-button btn-danger" (click) = "deleteArrayItem(groupName, controlName, i)">x</button>
                                    </td>
                                </tr>
                            </table>
                            <div class="text-left">
                                <button class="btn btn-info" (click) = "addArrayItem(groupName, controlName)">
                                    add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="'arrayOfIntegers'">
                <div class="row justify-content-center text-center" [formArrayName]="controlName">
                    <div class="col-12">
                        <p>
                            <button data-toggle="collapse" (click) = "changeButton()" class="btn btn-outline-info" [attr.data-target]="'#tab' + controlName + groupName" aria-expanded="false" [attr.aria-controls]="'tab' + controlName + groupName">
                                {{buttonText(buttonValue)}}
                            </button>
                        </p>
                        <div class="collapse" id="tab{{controlName}}{{groupName}}">
                            <table class="border border-info w-100">
                                <tr *ngFor="let ar of arrayValues; let i = index" >
                                    <td>
                                        <input type = "number" step="1"  min="0" class="form-control text-secondary m-2" style="font-weight: bold" [formControlName]="i">
                                    </td>
                                    <td style="width: 13%">
                                        <button class="btn mat-icon-button btn-danger" (click) = "deleteArrayItem(groupName, controlName, i)">x</button>
                                    </td>
                                </tr>
                            </table>
                            <div class="text-left">
                                <button class="btn btn-info" (click) = "addArrayItem(groupName, controlName)">
                                    add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="'arrayOfDouble'">
                <div class="row justify-content-center text-center" [formArrayName]="controlName">
                    <div class="col-12">
                        <p>
                            <button data-toggle="collapse" (click) = "changeButton()" class="btn btn-outline-info" [attr.data-target]="'#tab' + controlName + groupName" aria-expanded="false" [attr.aria-controls]="'tab' + controlName + groupName">
                                {{buttonText(buttonValue)}}
                            </button>
                        </p>
                        <div class="collapse" id="tab{{controlName}}{{groupName}}">
                            <table class="border border-info w-100">
                                <tr *ngFor="let ar of arrayValues; let i = index" >
                                    <td>
                                        <input type = "number" step="0.1" min="0" class="form-control text-secondary m-2" style="font-weight: bold" [formControlName]="i">
                                    </td>
                                    <td style="width: 13%">
                                        <button class="btn mat-icon-button btn-danger" (click) = "deleteArrayItem(groupName, controlName, i)">x</button>
                                    </td>
                                </tr>
                            </table>
                            <div class="text-left">
                                <button class="btn btn-info" (click) = "addArrayItem(groupName, controlName)">
                                    add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="'arrayOfFloat'">
                <div class="row justify-content-center text-center" [formArrayName]="controlName">
                    <div class="col-12">
                        <p>
                            <button data-toggle="collapse" (click) = "changeButton()" class="btn btn-outline-info" [attr.data-target]="'#tab' + controlName + groupName" aria-expanded="false" [attr.aria-controls]="'tab' + controlName + groupName">
                                {{buttonText(buttonValue)}}
                            </button>
                        </p>
                        <div class="collapse" id="tab{{controlName}}{{groupName}}">
                            <table class="border border-info w-100">
                                <tr *ngFor="let ar of arrayValues; let i = index" >
                                    <td>
                                        <input type = "number" step="0.1" min="0" class="form-control text-secondary m-2" style="font-weight: bold" [formControlName]="i">
                                    </td>
                                    <td style="width: 13%">
                                        <button class="btn mat-icon-button btn-danger" (click) = "deleteArrayItem(groupName, controlName, i)">x</button>
                                    </td>
                                </tr>
                            </table>
                            <div class="text-left">
                                <button class="btn btn-info" (click) = "addArrayItem(groupName, controlName)">
                                    add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
