<!-- Button trigger modal -->

<table class="rounded border shadow" *ngFor="let point of points; let i = index"  id="{{i}}">
    <tr>
        <td style="width: 99%">
            <button class="w-100" data-toggle="modal" (click) = "onSelect(point, i)" data-target="#pointSetup" style="border: 0; background-color: inherit">
                <table class="w-100">
                    <tr>
                        <td class="mat-h5 text-center" style="width: 1%">{{i + 1 }}</td>
                        <td class="mat-h5 text-center" style="width: 99%">{{point?.title}}</td>
                    </tr>
                </table>
            </button>
        <td>
        <td style="width: 1%">
            <button class="text-danger" matTooltip="Delete this point" style="background-color: inherit; border: 0" (click)="onDelete(i)">
                <mat-icon class="h5">
                    delete
                </mat-icon>
            </button>
        </td>
    </tr>
</table>



<!-- Modal -->
<div class="modal fade" id="pointSetup" tabindex="-1" role="dialog" aria-labelledby="newAction" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content ">
            <div class="modal-header m-2 bg-secondary border border-dark">
                <h3 class="modal-title text-white" id="newAction" style="font-weight: bold">Setup point of action</h3>
            </div>
            <div class="modal-body m-2 border  border-dark">
                <div [formGroup]="zonesForm">
                    <div class="row">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-5 h5 font-weight-bold">
                                    Latitude
                                </div>
                                <div class="col-7 mat-h5 pt-1 bg-light border border-dark">
                                    {{selectedPoint?.center.latitude}}
                                </div>
                                <div class="col-5 h5 font-weight-bold">
                                    Longitude
                                </div>
                                <div class="col-7 mat-h5 pt-1 bg-light border border-dark">
                                    {{selectedPoint?.center.longitude}}
                                </div>
                                <div class="col-5 h5 font-weight-bold">
                                    Radius
                                </div>
                                <div class="col-7 mat-h5 pt-1 bg-light border border-dark">
                                     <input type="number" class="form-control text-center" min="0" step="1" formControlName="radius" value="{{selectedPoint?.radius}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="modal-body border border-dark bg-light ">
                                <mat-form-field>
                                    <input type="text" class="text-dark" matInput placeholder="Title of action-zone"  formControlName= "title" value="{{selectedPoint?.title}}">
                                </mat-form-field>
                                <div class="text-danger mat-h5" *ngIf="zonesForm.get('title').invalid && zonesForm.get('title').touched">
                                        Title can't be empty
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row text-dark mt-2">
                        <div class="col-3 text-right">
                            Color of Zone
                        </div>
                        <div class="col-3">
                            <input type="color" value="{{selectedPoint?.fill_color}}"  class="w-100" formControlName="fill_color" >
                        </div>
                        <div class="col-3 text-right">
                            Stroke width
                        </div>
                        <div class="col-3 text-left">
                            <input class="text-center" type="number" style="width: 50px" formControlName="stroke_width" min="0" step="1" value="{{selectedPoint?.stroke_width}}" >
                        </div>
                    </div>
                    <hr>
                    <div class="row mb-2">
                        <div class="col-4">
                            The action begins
                        </div>
                        <div class="col-8">
                            <select class="form-select w-75" formControlName="enter_or_exit" [value]="zonesForm.get('enter_or_exit').value">
                                <option class="form-control" value="on_enter">upon entering the zone</option>
                                <option class="form-control" value="on_exit">when leaving the zone</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12" >
                            <button class="btn w-100 bg-secondary"
                                    data-toggle="collapse"
                                    data-target="#actions"
                                    aria-expanded="false"
                                    ngbTooltip="Click to open"
                                    [animation]="false"
                                    placement="top"
                                    aria-controls="actions">
                                Actions
                            </button>
                            <div class="collapse border border-secondary rounded shadow" id="actions">
                                <div class="row">
                                    <div class="col-12">
                                        <button class="btn btn-info rounded-pill text-lowercase pull-right mr-2" (click)="addAction()">add new action</button>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-8" >
                                        <div class="row" *ngFor="let control of actionsArray.controls; index as i">
                                            <div class="col-11">
                                                <input class="form-control"  type="text"  [formControl]="control" />
                                            </div>
                                            <div class="col-1">
                                                <button class="btn btn-just-icon text-danger" style="background-color: inherit" (click)="deleteAction(i)">
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-8 border border-secondary">
                            Select Image
                            <div class="row">
                                <div class="col-10">
                                    <mat-form-field>
                                        <input type="text" matInput class="form-control" placeholder="Address" formControlName="image">
                                    </mat-form-field>
                                </div>
                                <div class="col-2">
                                    <mat-form-field>
                                        <input type="number" matInput min="0" step="1" class="form-control" placeholder="Width" formControlName="width">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-left">
                            <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="onSubmit()" [disabled]="zonesForm.invalid">
                                Save
                            </button>
                        </div>
                        <div class="col-6 text-right">
                            <button type="reset" class="btn btn-outline-secondary" data-dismiss="modal" (click)="onCancel()">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
