<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center" *ngIf="!designer">
            <span class="text-danger" style="font-weight: bold">
                -empty designer file-
            </span>
        </div>
        <div class="col-12 mt-4" *ngIf="designer">
            <div class="row " style="width: 100%">
                <div class="col-12 mb-4">
                    <div *ngIf="!designer?.page_title" class="text-center">
                        <p>
                            <span class="text-center  h4" style="font-weight: bold">
                                {{designer.page_title}}
                            </span>
                        </p>
                        <span *ngIf="!designer.page_description" class="text-center">
                            {{designer.page_description}}
                        </span>
                    </div>
                    <div *ngFor="let dataResult of data | keyvalue: asIsOrderInPipe; let i = index">
                        <div *ngFor="let designerResult of designer?.designer | keyvalue; let y = index">
                            <div *ngIf = "y === i">
                                <div class="row mt-4">
                                    <div class="col-12 bg-secondary p-2 text-white">
                                            {{designerResult.value['title']}}
                                           <!-- <button  class="btn btn-outline-secondary" type="button" style="width: 100%" data-toggle="collapse" [attr.data-target]="'#tab' + i" aria-expanded="false" [attr.aria-controls]="'tab' + i">
                                                {{designerResult.value['title']}}
                                                <app-tooltip-info-circle *ngIf="designerResult.value['tooltip']" [tooltip] = "designerResult.value['tooltip']"></app-tooltip-info-circle>
                                            </button>-->
                                    </div>
                                </div>
                               <!-- <div class="collapse" id="tab{{i}}">-->
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="p-2">
                                                <div *ngFor="let designerItem of designer?.designer[y].components | keyvalue; let z = index">
                                                    <div  class="row">
                                                        <div class="col-6">
                                                            <div class="p-2" matTooltip="{{designerItem.value['tooltip']}}">
                                                               {{removeUnderscore(removeStringBeforeDot(designerItem.key)) | titlecase}}
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            {{declareValidators(designerItem.value['validation'], dataResult.key, removeStringBeforeDot(designerItem.key))}}
                                                            <app-input [formName]="dataForm"
                                                                       [value] = dataResult.value[removeStringBeforeDot(designerItem.key)]
                                                                       [groupName] = "dataResult.key"
                                                                       [type] = "designerItem.value['type']"
                                                                       [placeholder] = "designerItem.value['placeholder']"
                                                                       [validation]="designerItem.value['validation']"
                                                                       [controlName]="removeStringBeforeDot(designerItem.key)">
                                                            </app-input>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                               <!-- </div>-->
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row" *ngIf="!dataForm?.valid">
                        <div class="col-12 text-center">
                            <mat-error class="text-danger">
                                Form is not valid. Please check all fields.
                            </mat-error>
                        </div>
                    </div>
                    <!--<div class="row">
                        <div class="col-10">
                            <button class="btn btn-info" type="submit" (click) = "onSubmit()"  [disabled]="!dataForm?.valid">
                                Save Changes
                            </button>
                        </div>
                        <div class="col-2 text-right">
                            <button class="btn btn-outline-danger" type="button" (click) = "onExit()">
                                Cancel
                            </button>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

