<div class="modal fade" id="userProfile" tabindex="-1" role="dialog" aria-labelledby="profileIndex" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content ">
            <div class="modal-header m-2 bg-secondary border border-dark">
                <h3 class="modal-title text-white" id="profileIndex" style="font-weight: bold">User Profile</h3>
            </div>
            <div class="modal-body bg-secondary m-2 border border-dark">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title">Profile's details</h4>
                                    <p class="card-category"></p>
                                </div>
                                <div class="card-body">
                                    <form [formGroup]="userProfileForm">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Email address" type="email" formControlName="email" [value] = "profile?.email">
                                                    <mat-error *ngIf="userProfileForm.get('email').invalid && userProfileForm.get('email').errors && userProfileForm.get('email').touched">
                                                        <mat-error *ngIf="userProfileForm.get('email').hasError('required')">Email can't be empty</mat-error>
                                                        <mat-error *ngIf="userProfileForm.get('email').hasError('email')">Not a valid email address</mat-error>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Name" type="text" formControlName="name" value = "{{profile?.name}}">
                                                    <mat-error *ngIf="userProfileForm.get('name').invalid">Name can't be empty</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <button mat-raised-button type="submit" class="btn btn-info"  (click) = "onUpdateProfile()" [disabled]="userProfileForm.invalid" data-dismiss="modal">
                                                    Update Profile
                                                </button>
                                            </div>
                                            <dic class="col-6">
                                                <button mat-raised-button type="button" class="btn btn-danger pull-right" data-dismiss="modal">
                                                    Cancel
                                                </button>
                                            </dic>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-profile">
                                <div class="card-avatar">
                                    <a href="javascript:void(0)">
                                        <img class="img" src="../../../../assets/img/faces/marc.jpg"  alt=""/>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                                    <h4 class="card-title">Alec Thompson</h4>
                                    <p class="card-description">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!--
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Edit Profile</h4>
                      <p class="card-category">Complete your profile</p>
                  </div>
                  <div class="card-body">
                      <form [formGroup]="userProfileForm">
                          <div class="row">
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Email address" type="email" formControlName="email" [value] = "profile?.email">
                                      <mat-error *ngIf="userProfileForm.get('email').invalid && userProfileForm.get('email').errors && userProfileForm.get('email').touched">
                                            <mat-error *ngIf="userProfileForm.get('email').hasError('required')">Email can't be empty</mat-error>
                                            <mat-error *ngIf="userProfileForm.get('email').hasError('email')">Not a valid email address</mat-error>
                                      </mat-error>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Name" type="text" formControlName="name" value = "{{profile?.name}}">
                                   <mat-error *ngIf="userProfileForm.get('name').invalid">Name can't be empty</mat-error>
                                </mat-form-field>
                              </div>
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right"  (click) = "onUpdateProfile()" [disabled]="userProfileForm.invalid">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="../../../../assets/img/faces/marc.jpg"  alt=""/>
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Alec Thompson</h4>
                      <p class="card-description">
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
-->
