<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-7 bg-dark text-light text-center h2">
            Edit user
        </div>
        <div class="col-7 text-right">
            <span style="font-weight: bold">Delete User</span>
            <a matTooltip="Delete user" class="text-danger" matTooltipClass="h5" data-toggle="modal" (click)="onClickDelete(user)"  [attr.href] ="'#deletePopUpuser'" style="background-color: inherit">
                <i class="material-icons">delete</i>
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-7 border border-secondary shadow">
            <app-user-details-table [user]="user" (detailsForm)="onSubmit($event)"></app-user-details-table>
        </div>
    </div>
</div>

<!-- modal -->
<app-delete-pop-up  [deleteItemToolTip]="'user'" (delete)="onDelete($event, user)"></app-delete-pop-up>
