<div class="container-fluid mt-2">
    <div class="row justify-content-center  ">
        <div class="col-12 h1">
            Home
        </div>
        <div class="col-4 text-center">
            <div class="row">
                <div class="col-12 mt-5 h3">
                    <span class="font-weight-bold">Total Users</span>
                    <app-spinner class="mt-2" [visible]="isActiveUsersSpinner"></app-spinner>
                    <div class="col-12 mt-2">
                        <h1 class="text-primary">{{numberOfAllUsers}}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 text-center">
            <div class="row">
                <div class="col-12 mt-5 h3">
                    <span class="font-weight-bold">Created Plugins</span>
                    <app-spinner class="mt-2" [visible]="isActivePluginSpinner"></app-spinner>
                    <div class="col-12 mt-2">
                        <h1 class="text-info">{{numberOfUploadedPlugins$ | async}}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 text-center">
            <div class="row">
                <div class="col-12 mt-5 h3">
                    <span class="font-weight-bold">Created Games (active)</span>
                    <app-spinner class="mt-2" [visible]="isActiveProjectsSpinner"></app-spinner>
                    <div class="col-12 mt-2">
                        <h1 class="text-warning">{{numberOfCreatedGames$ | async}}</h1>
                    </div>
                </div>
            </div>
        </div>
        <hr style="max-width: 98%">
        <p class="text-center" *ngIf="errorMessage !== null">
            <mat-error style="font-weight: bold; text-decoration: underline">{{errorMessage}}</mat-error>
        </p>
        <div class="col-6 mt-2 text-center">
            <div>
                <span class="font-weight-bold h3">Game Authors</span>
                <app-users-list [usersData]="gameAuthors"></app-users-list>
            </div>
        </div>
        <div class="col-6 mt-2 text-center">
                <span class="font-weight-bold h3">Plugin Developers</span>
                <app-users-list [usersData]="pluginDevelopers"></app-users-list>
        </div>
    </div>
</div>

