<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-right">
                <a class="btn btn-info" role="button" routerLinkActive="active" href="#/games/create">+ New</a>  <!-- Create new game if button clicked -->
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger" >
                        <h4 class="card-title">My Games</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-content table-responsive table-full-width">
                        <table class="table" >
                            <thead class="text-danger">
                                <th>Title</th>
                                <th>Description</th>
                            </thead>
                            <tbody>
                                <tr *ngFor = "let game of listOfGames" class="mat-h3">   <!-- Display the list of user's games  -->
                                    <td *ngIf="game.title === ''" class="text-gray" >- no games -</td>
                                    <td *ngIf="game.title !== ''">{{game.title}}</td>
                                    <td *ngIf="game.description !== ''">{{game.description}}</td>
                                    <td class="text-right">
                                        <app-button-toggles [game] = "game" (click)="onClick(game)" (delete) = "onDelete($event)" ></app-button-toggles>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
