
    <div class="box item scale">
        <div class="card border border-secondary shadow">
            <img src="assets/img/mapimage.jpg" width="100%"  alt="Logo of temporary_save" class="rounded-top">
            <div class="card-body" style="height: 180px">
                <div class="card-title">
                    <div class="row justify-content-center">
                        <div class="col-10 mat-h3 serif-font text-secondary" style="font-weight: bold; max-width: 300px; text-shadow: 1px 1px black">
                            {{project?.title}}
                        </div>
                        <div class="col-2 text-right">
                            <a matTooltip="Edit temporary_save" role="button" class="text-dark" matTooltipClass="h5" style="background-color: inherit" (click)="onClickOpenProject(project)">
                                <mat-icon>tune</mat-icon>
                            </a>
                            <a matTooltip="Delete temporary_save" role="button" class="text-danger" matTooltipClass="h5" data-toggle="modal" (click)="onClickDeleteProject(project)"  [attr.href] ="'#deletePopUpProject'" style="background-color: inherit">
                                <i class="material-icons">delete</i>
                            </a>
                        </div>
                        <div class="col-12 mat-h5 text-secondary">
                            {{project?.description}}
                        </div>
                    </div>
                </div>
                <div class="row border border-secondary rounded shadow ">
                    <div class="col-12">
                        <mat-form-field>
                            <mat-label>Release</mat-label>
                            <mat-select [(value)]="defaultSelected">
                                <mat-option class="text-secondary" [value]="defaultSelected" *ngIf="gameReleasesArray?.length === 0">
                                    {{defaultSelected.name}}
                                </mat-option>
                                <mat-option *ngFor="let gameRelease of gameReleasesArray" [value]="gameRelease">
                                    {{gameRelease?.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal -->
    <app-delete-pop-up (delete)="onDelete($event)" [deleteItemToolTip]="'Project'"></app-delete-pop-up>

