label img {
    height: 50px;
    width: 50px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

.box-lg {
    width: 300px;
    height: 120px;
}

.box-lg:hover {
    transform: scale(1.1, 1.1);
}

.scale {
    transition: all 0.2s ease-in-out;
}

.scale:hover {
    transition: all 0.2s ease-in-out;
}
