<div class="card w-75 mb-3 border border-secondary shadow" >

          <!--  <button  style="border: 0" (click)="onClickOpenProject(project)" matTooltip="{{tooltip}}" matTooltipClass="h5" class="w-100">-->
                <img src="assets/img/mapimage.jpg" width="100%"  alt="Logo of project" class="rounded-top" >
          <!--  </button>-->

    <div class="card-body" style="height: 160px">
        <h5 class="card-title text-dark" style="font-weight: bold">
            {{project?.title}}
        </h5>
        <div class="row">
            <div class="col-10 text-right">
                <a matTooltip="Edit project" role="button" class="text-dark" matTooltipClass="h5" style="background-color: inherit" (click)="onClickOpenProject(project)">
                    <mat-icon>edit</mat-icon>
                </a>
            </div>
            <div class="text-right col-2">
                <app-delete-pop-up [element] = "project" (delete)="onDelete($event, project)" [deleteItemToolTip]="'project'"></app-delete-pop-up>
            </div>
        </div>
        <p class="card-text mb-0" >
            <small style="font-weight: bold">
                {{project?.description}}
            </small>
        </p>
        <p class="card-text mb-0">
            <small class="text-muted text-gray">
                <span style="font-weight: bold">Created at:</span> {{project?.created_at | date: 'dd/MM/yy'}}
            </small>
        </p>
        <p class="card-text mb-0">
            <small class="text-muted text-gray" *ngIf="project?.updated_at !== null">
                <span style="font-weight: bold">Update at:</span> {{project?.updated_at | date: 'dd/MM/yy'}}
            </small>
        </p>
    </div>
</div>
