<div class="main-content m-4 ">
    <div class="container border rounded-circle shadow" style="background-image: linear-gradient(to bottom right, cornflowerblue , lightcoral);">
        <div class="row m-4">
            <div class="col-12">
                <div class="text-center">
                    <h1>
                        404!
                    </h1>
                </div>
            </div>
        </div>
        <div class="row m-4">
            <div class="col-12 ">
                <div class="text-center">
                    <h1>
                        Page not found
                    </h1>
                </div>
            </div>
        </div>
        <div class="row m-4">
            <div class="col-12 ">
                <div class="text-center">
                    <h3>
                        <img src="assets/img/geomakeit_logo.png">
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
