<div *ngIf="plugin?.id === null">
    <div class="text-center m-4">no plugin selected</div>
</div>
<div class = "card shadow border" *ngIf="plugin?.title !== null" style="height: auto">
    <div class="row">
        <div class="col-12">
            <div class="p-2">
                <div class="mat-h2 text-center">
                    {{plugin?.title}}
                </div>
                <div *ngIf="plugin?.description !== ''" class="mat-h5 text-gray text-center">
                    {{plugin?.description}}
                </div>
                <hr>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="p-2">
                <strong>Version</strong>
            </div>
        </div>
        <div class="col-8">
            <div class="p-2 text-right">
                {{release?.name}}
            </div>
        </div>
    </div>
</div>

