<!-- Modal -->
<div class="modal fade" id="projectSettings" tabindex="-1" role="dialog" aria-labelledby="settings" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content ">
            <div class="modal-header m-2 bg-secondary border border-dark">
                <h3 class="modal-title text-white" id="settings" style="font-weight: bold">Settings</h3>
            </div>
            <div class="modal-body bg-secondary m-2 border border-dark">
                <app-game-settings [project]="projectSettings"></app-game-settings>
            </div>
        </div>
    </div>
</div>

