<!-- Modal -->

<button  class="btn btn-dark bg-dark w-100" data-toggle="modal" data-target="#projectSettings" >
    <div class="row">
        <div class="col-3 text-right pr-0">
                                <span class="mat-h5">
                                    <mat-icon class="material-icons-outlined">
                                        settings
                                    </mat-icon>
                                </span>
        </div>
        <div class="col-9 text-left mat-h5 text-lowercase">
            Basic Settings
        </div>
    </div>
</button>

<div class="modal fade" id="projectSettings" tabindex="-1" role="dialog" aria-labelledby="settings" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content ">
            <div class="modal-header m-2 bg-secondary border border-dark">
                <h3 class="modal-title text-white" id="settings" style="font-weight: bold">Basic settings</h3>
            </div>
            <div class="modal-body border m-2">
                <app-game-settings [project]="projectSettings" [isModal]="true"></app-game-settings>
            </div>
        </div>
    </div>
</div>

