<mat-horizontal-stepper linear #stepper >
    <!-- Step-1 Basic Settings -->
    <mat-step>
        <ng-template matStepLabel>Setup Basic Settings</ng-template>
        <div class="container-fluid">
            <div class="row" style="height: 700px">
                <div class="col-6 text-left">
                    <h2>Basic Settings </h2>
                    <h4>Setup the basic settings for project</h4>
                </div>
                <div class="col-6">
                    <div class="text-right">
                        <button class="btn bg-secondary shadow border border-success" mat-button matStepperNext
                                (click) = "onSubmit()">
                            Next
                        </button>
                    </div>
                </div>
                <div class="col-12">
                    <app-game-settings
                            [project]="project"
                            [isModal] = "false"
                            [submitFromStepper]="sendSubmit.asObservable()">
                    </app-game-settings>
                </div>
            </div>
        </div>
    </mat-step>
    <!-- Step-2 Select points on map -->
    <mat-step>
        <ng-template matStepLabel>Select location on map</ng-template>
        <div class="container-fluid">
            <div class="row" style="height: 700px">
                <div class="col-3 text-left">
                    <button class="btn bg-secondary shadow border border-success" mat-button matStepperPrevious>
                        Back
                    </button>
                </div>
                <div class="col-6 text-center h2">
                    Select location points
                    <div class="h4">
                        Click on map to select location points for your actions
                    </div>
                </div>
                <div class="col-3 text-right">
                    <button class="btn bg-secondary shadow border border-success" mat-button matStepperNext>
                        Next
                    </button>
                </div>
                <app-map
                        [points] = "pointsArray"
                        (coordinates)="addPoint($event)"
                        (pointForDelete)="onDelete($event)"
                        (returnedPoint)="updateArrayOfPoints($event)">
                </app-map>
            </div>
        </div>
    </mat-step>
    <!-- Step-3 Setup actions -->
    <mat-step>
        <ng-template matStepLabel>Add action in location-point</ng-template>
        <p class="text-center h2">
            Click on every point, to setup actions
        </p>
        <div class="row justify-content-center">
            <div class="col-3 text-left">
                <button class="btn bg-secondary shadow border border-success" mat-button matStepperPrevious>
                    Back
                </button>
            </div>
            <div class="col-6">
                <table class="w-100 shadow">
                    <tr>
                        <td>
                            <table class="w-100 bg-secondary text-white" style="font-weight: bold">
                                <tr>
                                    <td style="width: 10%" class="pl-2 text-center">Point</td>
                                    <td style="width: 90%" class="pl-3 text-center">Title</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <app-table-with-selected-points
                                    [points]="pointsArray"
                                    (pointToUpdate)="updateArrayOfPoints($event)"
                                    (pointForDelete)="onDelete($event)">
                            </app-table-with-selected-points>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-3 text-right">
                <button class="btn bg-secondary shadow border border-success" mat-button matStepperNext>
                    Next
                </button>
            </div>
        </div>
    </mat-step>
    <!-- Step-4 Main configuration -->
    <mat-step>
        <ng-template matStepLabel>Setup Main configuration</ng-template>
        <div class="row">
            <div class="col-1 text-right">
                <button mat-button matStepperPrevious class="btn bg-secondary shadow border border-success">
                    Back
                </button>
            </div>
            <div class="col-10 text-center font-weight-bold">
                <p class="h2">Main configuration of your project.</p>
                <p class="h4">From here, you can control the functionality of application.</p>
                <div class="h-75 overflow-auto">
                    <app-json-files-configuration></app-json-files-configuration> <!-- display UI with JSON-files, from plugins -->
                </div>
            </div>
            <div class="col-1 text-left">
                <button class="btn bg-secondary shadow border border-success" mat-button matStepperNext>
                    Next
                </button>
            </div>
        </div>
    </mat-step>
    <!-- Step-5 build -->
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div class="row">
            <div class="col-2 text-right">
                <button mat-button matStepperPrevious class="btn bg-secondary shadow border border-success">
                    Back
                </button>
            </div>
            <div class="col-8 text-center font-weight-bold">
                <div class="h2">
                    Done!
                </div>
                <div class="h4">
                    Click Build button, to check and build your project
                </div>
                <button class="mat-raised-button mat-primary" style="width: 50%">
                    <mat-icon class="material-icons-outlined">
                        app_settings_alt
                    </mat-icon>
                    Build
                </button>
            </div>
            <div class="col-2 text-left">
                <button mat-button class="btn btn-outline-secondary" (click)="onExit()">
                    Exit
                </button>
            </div>
        </div>
    </mat-step>
</mat-horizontal-stepper>
